[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<2"
keras = "*"
requests = "*"
tensorflow = "==2.14.0"
pillow = "*"
"discord.py" = "*"
dicord = "*"

[dev-packages]

[requires]
python_version = "3.11"
